body {
  background-image: url("../img/mountains.jpg");
  -webkit-background-size: cover;

  /* Fussing with CSS to fix background image. Mostly successful! Above worked better.
  background-attachment: fixed;
  background-size: 200%;
  background-repeat: no-repeat;
  background-position: center;*/
}

.header {
  border: solid;
  border-color: #5e3308;
  border-radius: 50px;
  padding: 40px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
  text-align: center;
  background: rgba(255, 153, 179, 0.25);
}

.aboutme {
  text-align: center;
  float: left;
}

.projects {
  margin: 40px;
}


div, h1 {
  font-family: "Helvetica", "Arial", sans-serif;
}

div, h3 {
  font-family: "Garamond", "Georgia", serif;
  font-weight: lighter;
}

div, h2 {
  font-family: "Helvetica", "Arial", sans-serif;
  font-weight: lighter;
}

#projects, a {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 16px;
}

div, ul {
  font-family: "Garamond", "Georgia", serif;
  font-weight: lighter;
  font-size: 14px;
}

div, li:last-child {
  padding-bottom: 20px;
}

div, li:first-child {
  padding-top: 10px;
}

.sidebar a {
  font-family: "Myriad Pro";
  font-weight: bold;
}


div img {
  width: 200px;
  border: solid;
  border-style: double;
  border-color:  #006666;
  border-width: 10px;
  border-radius: 50%;
}
