body {
  background-image: url("../img/mountains.jpg");
  -webkit-background-size: cover;

  /* Fussing with CSS to fix background image. Mostly successful! Above worked better.
  background-attachment: fixed;
  background-size: 200%;
  background-repeat: no-repeat;
  background-position: center;*/
}

.header {
  border: solid;
  border-color:  #f0f5f5;
  border-radius: 50px;
  padding: 40px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
  text-align: center;
  background: rgba(255, 153, 179, 0.25);
}

.aboutme {
  border: solid;
  border-color:  #00e6b8;
  border-radius: 50px;
  padding: 40px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
  text-align: center;
  background: rgba(0, 57, 77, 0.25)
}

.projects {
  border: solid;
  border-color: #660066;
  border-radius: 50px;
  padding: 40px;
  margin: 30px;
  background: rgba(179, 128, 77, 0.25);
}

div, h1 {
  font-family: "Helvetica", "Arial", sans-serif;
}

div, h3 {
  font-family: "Helvetica", "Arial", sans-serif;
  font-weight: lighter;
}

div, h2 {
  font-family: "Helvetica", "Arial", sans-serif;
  font-weight: lighter;
}

a {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  color: #3d3d8f;
  text-decoration: underline;
  font-weight: bolder;
}

div, ul {
  font-family: "Garamond", "Georgia", serif;
  font-weight: lighter;
  font-size: 14px;
}

div, p {
  padding-bottom: 3px;
}

div, li:last-child {
  padding-bottom: 20px;
}

div, li:first-child {
  padding-top: 10px;
}

.sidebar a {
  font-family: "Myriad Pro";
  font-weight: bold;
}

div img {
  width: 200px;
  border: solid;
  border-style: double;
  border-color:  #006666;
  border-width: 10px;
  border-radius: 50%;
}

button {
  float: right;
}

.collapse {
  font-style: italic;
  padding-right: 40px;
}
